.contain-text {
    width: 600px;
    height: 200px;
    box-sizing: border-box;
    background-color: #e2e2e2;
    border-radius: 10%;
}
.prop-text1{
    font-family: Arial, Sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 10px 10px 25px #6324;
}
.contain-text2{
    width: 600px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(193, 241, 253);
    border-radius: 10%;
}
.prop-text2{
    padding-top: 25px;
    color: rgba(233, 7, 7, 50%);
}

.linear-gradiant{
    background: linear-gradient(to right, rgba(44, 41, 241, 0.603), rgba(26, 255, 95, 0.5));
    width: 600px;
    height: 200px;
}